# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

# Production
/dist

# Environment variables
.env
.env.local
.env.*

# Prisma
/prisma/migrations
/node_modules/@prisma/client